# Ignore backup script
scripts/backup_project.py

# Ignore virtual environment
venv/

# Ignore Python cache files 
__pycache__/
*.py[cod]

# Ignore data files
data/

# Ignore outputs and checkpoints
outputs/
**/.ipynb_checkpoints/

# Ignore Jupyter notebooks
notebooks/

# Ignore VS Code workspace settings
*.code-workspace